nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1rem;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

@media (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
  }
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem;
  }
}

.bg-banner {
  background-image: url(../img/pexels-pixabay-270408.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.5);
  opacity: 0.8;
}

.texto {
  margin-top: 4rem;
  border: 2px solid white;
  color: white;
  padding: 1rem;
  box-shadow: inset 0 0 0 2000px rgba(6, 6, 6, 0.5);
  opacity: 0.8;
}

.enlaces {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 2rem;
}

.enlaces a i:hover {
  color: blue;
}

.proyecto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  overflow: hidden;
}

.proyectos {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width: 920px) {
  .proyectos {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}

.card {
  width: 25rem;
  height: auto;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
}

.card-body a {
  margin: 1rem;
}

img {
  height: 100%;
  width: 100%;
}

.contacto {
  background-color: rgb(99, 99, 99);
}
